@import "_typography"

//colors variables
.is-primary-color
  color: $primary-color

.is-secondary-color
  color: $secondary-color

.is-mid-grey-color
  color: $mid-grey

.is-light-grey-color
  color: $light-grey

.is-lighter-grey-color
  color: $lighter-grey

.is-dark-green-color
  color: $dark-green

.is-off-black-color
  color: $off-black

.is-orange-color
  color: $orange

.is-red-color
  color: $red

.is-white-color
  color: $white

//background colors variables

.is-primary-background
  background-color: $primary-color

.is-secondary-background
  background-color: $secondary-color

.is-mid-grey-background
  background-color: $mid-grey

.is-light-grey-background
  background-color: $light-grey

.is-lighter-grey-background
  background-color: $lighter-grey

.is-dark-green-background
  background-color: $dark-green

.is-off-black-background
  background-color: $off-black

.is-orange-background
  background-color: $orange

.is-red-background
  background-color: $red

.is-white-background
  background-color: $white
