@import "_typography"
  
.is-dark-grey
  color: $dark-grey

.is-light-grey
  color: $light-grey

.is-green
  color: $green

.is-green-gradient
  color: $green-gradient

.is-dark-green
  color: $dark-green

.is-dark-green-gradient
  color: $dark-green-gradient

.is-red
  color: $red

