@import url("https://use.typekit.net/lbh6wkf.css")

$font-family: "remora-sans-w1", sans-serif

.v-application, html, body, h1, h2, h3, h4, h5, p, div, a, i
  font-family: $font-family !important

h1
  color: white
  margin-bottom: 10px

a
  text-decoration: none
  color: black
  &:visited
    color: inherit