@import url("https://use.typekit.net/lbh6wkf.css")

$primary-color: #015281
$light-blue: #3CB5E7
$dark-blue: #017DC2
$light-green-gradient: linear-gradient(90deg, #91A80D 42.99%, #BAC323 68.59%, #9EA100 95.04%)
$dark-grey: #58595E
$light-grey: #F5F5F5
$green: #8ab61d
$green-gradient: linear-gradient(90deg, #91A80D 0%, #BAC323 59.56%, #9EA100 95.31%)
$dark-green: #007344
$dark-green-gradient: linear-gradient(90.08deg, #00783B 1.93%, #009E55 53.39%, #006B38 95.4%)
$red: #E84040

$font-family: "remora-sans-w1", sans-serif

.v-application, html, body, h1, h2, h3, h4, h5, p, div, a, i
  font-family: $font-family !important

h1
  color: white
  margin-bottom: 10px
  &.is-primary
    color: $primary-color

h2
  color: white
  &.is-primary
    color: $primary-color
    font-size: 28px

a
  text-decoration: none
  color: black
  &:visited
    color: inherit


//font-sizes

.has-font-size-small-medium
  font-size: 18px

.has-font-size-medium
  font-size: 22px

.has-font-size-big
  font-size: 26px


//colors

.is-dark-grey
  color: $dark-grey

.is-light-blue
  color: $light-blue

.is-dark-blue
  color: $dark-blue
